body {
	padding-left: 100px;
	padding-right: 100px;
	color:	#333;
}

.happy {
	clear: both;
}

.row {
	margin: 16px;
	overflow: hidden;
}

.row div {
	background-color: #e5e1ea;
	border:	solid 1px #c7bfd3;
	padding: 11px;
}

.col-md-8 {
	float: left;
	width: 66.67%;
	box-sizing: border-box;
}

.col-md-4.a {
	float: right;
	width: 33.33%;
	box-sizing: border-box;
}

.col-md-4.b {
	float: left;
	width: 33.33%;
	box-sizing: border-box;
}

.col-md-4.c {
	float: left;
	width: 33.33%;
	box-sizing: border-box;
}

.col-md-4.d {
	float: left;
	width: 33.33%;
	box-sizing: border-box;
}

.col-md-6.a {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

.col-md-6.b {
	float: right;
	width: 50%;
	box-sizing: border-box;
}