html {
	background: rgba(236,237,237,1); /* Old browsers */
}

body {
	min-height: 350px;
	margin: 0px;
	background: rgb(131,170,170); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(131,170,170,1) 0%, rgba(236,237,237,1) 50%, rgba(236,237,237,1) 100%) no-repeat; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(131,170,170,1)), color-stop(50%,rgba(236,237,237,1)), color-stop(100%,rgba(236,237,237,1))) no-repeat; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 50%,rgba(236,237,237,1) 100%) no-repeat; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 50%,rgba(236,237,237,1) 100%) no-repeat; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 50%,rgba(236,237,237,1) 100%) no-repeat; /* IE10+ */
	background: linear-gradient(to bottom,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 50%,rgba(236,237,237,1) 100%) no-repeat; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83aaaa', endColorstr='#eceded',GradientType=0 ) no-repeat; /* IE6-9 */

}

body:before {
	content: '';
	top: -27px; 
	left: -27px;
	right: 0;
	height: 300px;
	position: absolute;
	background-image: url(img/clouds.png);
	background-repeat: repeat-x;
}

@font-face {
	font-family: LetterGothicStd;
	src: url("font/lettergothicstd/LetterGothicStd.otf") format("opentype");
4
}


.container {
	width: 100%;
}

.catcontainer {
	position: absolute;
	left: 80px;
	width: 50%;
	text-align: right;
	padding-top: 15px;
}

.content {
	position: absolute;
	right: 0px;
	width: 50%;
	text-align: left;
}

.col-md-12 {
	padding: 150px 0 0 0;
	font-size: 70px;
	color: #666;
	float: left;
	font-family: LetterGothicStd;
}

.degree {
	font-size: 40px;
	top: -23px;
}

.col-md-12.col-message {
	font-size: 23px;
	padding: 0px 0px 0px 8px;
}

.col-xs-2.col-location {
	color: #eee;
}

.col-xs-2.col-location input {
	border: none;
	border-radius: 0px;
	font-family: LetterGothicStd;
	font-size: 20px;
	background-color: #00a99d;
	left: 9px;
	top: 21px;
	position: absolute;
	box-sizing:	content-box;
	color: #ddd;
	padding: 8px 90px 6px 90px;
	text-align: center;
}
