body {
	height:	1000px;
	margin: 0px;
	background: rgb(131,170,170); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(131,170,170,1) 0%, rgba(236,237,237,1) 23%, rgba(236,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(131,170,170,1)), color-stop(23%,rgba(236,237,237,1)), color-stop(100%,rgba(236,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83aaaa', endColorstr='#eceded',GradientType=0 ); /* IE6-9 */

}

.clouds {
	background-image: url(img/clouds.png);
	height: 350px;
	background-repeat: repeat-x;
	margin: -27px;
	opacity: .3;
}