body {
	height:	1000px;
	margin: 0px;
	background: rgb(131,170,170); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(131,170,170,1) 0%, rgba(236,237,237,1) 23%, rgba(236,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(131,170,170,1)), color-stop(23%,rgba(236,237,237,1)), color-stop(100%,rgba(236,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(131,170,170,1) 0%,rgba(236,237,237,1) 23%,rgba(236,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83aaaa', endColorstr='#eceded',GradientType=0 ); /* IE6-9 */

}

body:before {
	content: '';
	top: -27px; 
	left: -27px;
	right: 0;
	height: 300px;
	position: absolute;
	background-image: url(img/clouds.png);
	background-repeat: repeat-x;
	z-index: -1;
}

@font-face {
	font-family: LetterGothicStd;
	src: url("font/lettergothicstd/LetterGothicStd.otf") format("opentype");
4
}


.container {
	width: 100%;
}

.catcontainer {
	position: absolute;
	left: 0px;
	width: 50%;
	text-align: right;
	padding-top: 100px;
}

.content {
	position: absolute;
	right: 0px;
	width: 50%;
	text-align: left;
}

.col-md-12 {
	padding: 150px 0 0 0;
	font-size: 70px;
	color: #666;
	float: left;
	font-family: LetterGothicStd;
}