h1 {
	font-family: helvetica, sans-serif;
	font-size: 35px;
	font-weight: normal;
	border-bottom: 1px solid lightgray;
	padding: 0 0 15px 0;
}

.btn {
	background: lightgray;
	padding: 7px 14px 8px 14px;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
	margin: 0px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.btn-default {
	background: white;
	border-color: rgb(209, 205, 205);
	color: rgb(41, 41, 41);
	cursor: pointer;
}

.btn-primary {
	background: #428bca;
	border-color: #317bbb;
	color: white;
	cursor: pointer;
}

.btn-success {
	background: #5cb85c;
	border-color: #4ca94c;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.btn-info {
	background: #5bc0de;
	border-color: #4db0cd;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.btn-warning {
	background: #f0ad4e;
	border-color: #ed9e2e;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.btn-danger {
	background: #d9534f;
	border-color: #ca3f3b;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.btn-link {
	border: none;
	background: none;
	color: rgb(59, 141, 231);
	cursor: pointer;
}

.btn-link:hover {
	color: rgb(8, 8, 211);
}